server:
  port: 9090

spring:
  main:
    banner-mode: off

  sql:
    init.mode: always

  jpa:
    ddl-auto: validate
    show-sql: true
    database-platform: "org.hibernate.dialect.PostgreSQLDialect"
    properties:
      hibernate:
        dialect: "org.hibernate.dialect.PostgreSQLDialect"
        jdbc.time_zone: UTC
        format_sql: true

  datasource:
    driver-class-name: "org.postgresql.Driver"
    url: "jdbc:postgresql://localhost:5433/stats"
    username: "stats_user"
    password: "12345"

logging:
  level:

    org.hibernate:
      SQL: DEBUG
      orm.jdbc.bind: trace

    org.springframework:
      web: DEBUG
      web.servlet.DispatcherServlet: DEBUGDROP SEQUENCE IF EXISTS hit_seq;
  DROP TABLE IF EXISTS hits;
  
  CREATE SEQUENCE IF NOT EXISTS hit_seq START 1 INCREMENT 1;
  CREATE TABLE IF NOT EXISTS hits (
  id INT8 PRIMARY KEY,
  app VARCHAR(255) NOT NULL,
  uri VARCHAR(255) NOT NULL,
  ip VARCHAR(255) NOT NULL,
  timestamp TIMESTAMP NOT NULL
  );