app:
  name: "ewm-main-service"
  creation-date: "2025-11-30 12:00:00"

server:
  port: 8080

stats-server:
  url: "http://stats-service:9090"  # Изменено с stats-server на stats-service (имя контейнера)

spring:
  main:
    banner-mode: off

  sql:
    init.mode: always

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    database-platform: "org.hibernate.dialect.PostgreSQLDialect"
    properties:
      hibernate:
        dialect: "org.hibernate.dialect.PostgreSQLDialect"
        format_sql: true

  datasource:
    driver-class-name: "org.postgresql.Driver"
    url: "jdbc:postgresql://main-db:5432/ewm"  # Изменено localhost на main-db
    username: "ewm_user"
    password: "12345"
    hikari:
      connection-timeout: 30000
      maximum-pool-size: 10

logging:
  level:
    root: INFO
    org.hibernate.SQL: DEBUG
    org.hibernate.type.descriptor.sql.BasicBinder: TRACE
    org.springframework.web: DEBUG