server:
  port: 8080

spring:
  application:
    name: ewm-main-service

  datasource:
    url: jdbc:postgresql://localhost:5432/ewm_main_db
    username: postgres
    password: password
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true

logging:
  level:
    ru.practicum.explorewithme: DEBUG
  pattern:
    console: "%d{yyyy-MM-dd HH:mm:ss} - %msg%n"

stats-server:
  url: http://localhost:9090