server:
  port: 8080

spring:
  application:
    name: main-service

  datasource:
    url: jdbc:postgresql://main-db:5432/main_db
    username: main_user
    password: main_password
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: false

logging:
  level:
    ru.practicum.explorewithme: INFO
  pattern:
    console: "%d{yyyy-MM-dd HH:mm:ss} - %msg%n"

stats-server:
  url: http http://stats-service:9090