server:
  port: 9090

spring:
  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://stats-db:5432/stats
    username: stats
    password: stats
  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: false
    database-platform: org.hibernate.dialect.PostgreSQLDialect
  jackson:
    date-format: "yyyy-MM-dd HH:mm:ss"
    time-zone: UTC

management:
  endpoints:
    web:
      exposure:
        include: health,info